body {
    display: flex;
    justify-content: center;
    min-width: 310px;
}

section {
    display: flex;
    flex-flow: column wrap;
}

img {
    width: 300px;
    height: auto;
    object-fit: contain;
    padding: 5px;
}

img:hover {
    transform: scale(1.05);
    transition: .2s; 
}

@media (min-width: 300px) {
    section { 
        height: fit-content;
    }
}

@media (min-width: 630px) {
    section { 
        height: 2000px;
      }
}

@media (min-width: 940px) {
    section { 
        height: 1500px;
      }
}

@media (min-width: 1250px) {
    section { 
        height: 1000px;
      }
}



